<%= form_for(@gif_link) do |f| %>
  <% if @gif_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gif_link.errors.count, "error") %> prohibited this gif_link from being saved:</h2>

      <ul>
      <% @gif_link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="gif-url-input-container">
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="dropdown-component-container">
    Loading dropdown component...
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
